
// colours (7 different ones - taken from the designbook)
// Added shades (hue & saturation shifts)

$trondersea: ( // base: #6ecdb4
  50 : #eef9f6,
  100 : #d4f0e9,
  200 : #b7e6da,
  300 : #9adccb,
  400 : #84d5bf,
  500 : #6ecdb4,
  600 : #66c8ad,
  700 : #5bc1a4,
  800 : #51ba9c,
  900 : #3fae8c,
  A100 : #ffffff,
  A200 : #cdffef,
  A400 : #9affdf,
  A700 : #80ffd7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$juiceorange: ( // base: #fa7337
  50 : #feeee7,
  100 : #fed5c3,
  200 : #fdb99b,
  300 : #fc9d73,
  400 : #fb8855,
  500 : #fa7337,
  600 : #f96b31,
  700 : #f9602a,
  800 : #f85623,
  900 : #f64316,
  A100 : #ffffff,
  A200 : #fff5f3,
  A400 : #ffcbc0,
  A700 : #ffb6a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$warmgrey: ( // base: #a0968c
  50 : #f4f2f1,
  100 : #e3e0dd,
  200 : #d0cbc6,
  300 : #bdb6af,
  400 : #aea69d,
  500 : #a0968c,
  600 : #988e84,
  700 : #8e8379,
  800 : #84796f,
  900 : #73685c,
  A100 : #fef1e3,
  A200 : #fcd7b2,
  A400 : #ffbe7c,
  A700 : #ffb163,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$coldgrey: ( // base: #c8c8c8
  50 : #f8f8f8,
  100 : #efefef,
  200 : #e4e4e4,
  300 : #d9d9d9,
  400 : #d0d0d0,
  500 : #c8c8c8,
  600 : #c2c2c2,
  700 : #bbbbbb,
  800 : #b4b4b4,
  900 : #a7a7a7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff0f0,
  A700 : #ffd6d6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$springgreen: ( // base: #c8dc32
  50 : #f8fbe6,
  100 : #eff5c2,
  200 : #e4ee99,
  300 : #d9e770,
  400 : #d0e151,
  500 : #c8dc32,
  600 : #c2d82d,
  700 : #bbd326,
  800 : #b4ce1f,
  900 : #a7c513,
  A100 : #fdfff5,
  A200 : #f4ffc2,
  A400 : #eaff8f,
  A700 : #e6ff75,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$spunkred: ( // base: #b44682
  50 : #f6e9f0,
  100 : #e9c8da,
  200 : #daa3c1,
  300 : #cb7ea8,
  400 : #bf6295,
  500 : #b44682,
  600 : #ad3f7a,
  700 : #a4376f,
  800 : #9c2f65,
  900 : #8c2052,
  A100 : #ffc9e0,
  A200 : #ff96c3,
  A400 : #ff63a7,
  A700 : #ff4998,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$playblue: ( // base: #7378cd
  50 : #eeeff9,
  100 : #d5d7f0,
  200 : #b9bce6,
  300 : #9da1dc,
  400 : #888cd5,
  500 : #7378cd,
  600 : #6b70c8,
  700 : #6065c1,
  800 : #565bba,
  900 : #4348ae,
  A100 : #ffffff,
  A200 : #d0d2ff,
  A400 : #9da2ff,
  A700 : #8489ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$experimentalblue: ( // base: #5a96d7
  50 : #ebf2fa,
  100 : #cee0f3,
  200 : #adcbeb,
  300 : #8cb6e3,
  400 : #73a6dd,
  500 : #5a96d7,
  600 : #528ed3,
  700 : #4883cd,
  800 : #3f79c7,
  900 : #2e68be,
  A100 : #ffffff,
  A200 : #cee0ff,
  A400 : #9bc1ff,
  A700 : #81b1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



// Material Design colour. Pasted here for easy access (one less import).
$mat-red-warn: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: rgba(0,0,0,0.87),
    400: rgba(0,0,0,0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(1,1,1,0.87),
    900: rgba(1,1,1,0.87),
    A100: rgba(0,0,0,0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);
