@import '../../../viten.themes.scss';

.canvasParent {
  display: block;
}

.questionHeader {
  text-align: center;
  //border-bottom: 2px solid map-get(nth($vitenPrimary,1), 900);
  h1 {
    margin: 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;;
  button {
    margin-left: 10px;
    align-self: center; // this is vertical align
  }
}

.needsResize {
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

.chartWrapper {
  margin-bottom: 100px;
}

.select {
  width: 180px;
}
