<div>
  <md-tab-group dynamicHeight="true">
  <md-tab label="{{ 'User settings' | translate }}">
    <div class="tabContent">
      <md-card>
        <md-card-title>{{ 'Email' | translate }}</md-card-title>
        <md-card-content>
          <form [formGroup]="newEmailForm" (ngSubmit)="changeEmail(newEmailForm.value)">
            <md-input-container>
              <input mdInput type="email" pattern="\S+@\S+\.\S+" placeholder="{{user.email}}" [formControl]="newEmailForm.controls['newEmail']">
              <md-hint class="warning" *ngIf="newEmailForm.controls['newEmail'].invalid && newEmailForm.controls['newEmail'].touched">
                {{ 'This field is invalid.' | translate }}
              </md-hint>
            </md-input-container>
            <md-card-actions>
              <button md-raised-button type="submit" color="primary" [disabled]="newEmailForm.controls['newEmail'].invalid">
                {{ 'Change email' | translate }}
              </button>
            </md-card-actions>
          </form>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>{{ 'Password' | translate }}</md-card-title>
        <md-card-content>
          <md-input-container>
            <input mdInput
              autocomplete="new-password"
              type="password"
              placeholder="{{ 'Minimum 4 characters' | translate }}"
              #newPassword>
              <md-hint align="end">{{newPassword.value.length}} / 4++</md-hint>
          </md-input-container>
          <br>
          <p>{{ 'Retype password' | translate }}</p>
          <md-input-container>
            <input mdInput
              [disabled]='(newPassword.value.length <= 3) || (newPassword.value === "") '
              type="password"
              placeholder="{{ 'Minimum 4 characters' | translate }}"
              #newPassword2>
              <md-hint align="end">
                {{newPassword2.value.length}} / 4++</md-hint>
          </md-input-container>
          <md-icon class="done" *ngIf="newPassword.value === newPassword2.value && !(newPassword.value === '') ">done all</md-icon>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button
            #passwordShangeButton
            color="primary"
            minlength="3"
            md-visible="true"
            [mdTooltip]="(newPassword.value.length <= 3 || !(newPassword.value === newPassword2.value) || (newPassword.value === '')) ?
              ('You need to write the same password twice' | translate ) : '' "
            mdTooltipPosition="below"
            [disabled]="newPassword.value.length <= 3 || !(newPassword.value === newPassword2.value) || (newPassword.value === '') "
            (click)="changePassword(newPassword.value)">
            <div [mdTooltip]="(newPassword.value.length <= 3 || !(newPassword.value === newPassword2.value) || (newPassword.value === '')) ?
            ('You need to write the same password twice' | translate ) : '' "
            mdTooltipPosition="below">
              {{ 'Change password' | translate }}
            </div>
          </button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-title>{{ 'Language' | translate }}</md-card-title>
        <md-card-content>
          <p>
            {{ 'Change the preferred language here' | translate }}
          </p>
          <md-select [(ngModel)]="selectedLanguage" (change)='setSelectedLanguage()'>
            <md-option *ngFor="let m of [{name: 'English', code: 'en'}, {name: 'Norwegian', code: 'no'}]" [value]="m.code">
              {{ m.name | translate }}
            </md-option>
          </md-select>
        </md-card-content>
      </md-card>
    </div>
  </md-tab>
  <md-tab *ngIf="user.role==='vitenleader' || user.role==='sysadmin'" label="{{ 'Admin settings' | translate }}">
    <div class="tabContent">
      <md-card>
        <md-card-title>{{ 'Superadmin settings' | translate }}</md-card-title>
        <md-card-subtitle>{{user.role | translate }}</md-card-subtitle>
        <md-card-actions>
          <button md-raised-button color="primary" minlength="3" (click)="requestReferral('admin')">
            {{ 'Refer admin' | translate }}
          </button>
          <button md-raised-button color="primary" minlength="3" (click)="requestReferral('member')">
            {{ 'Refer member' | translate }}
          </button>
        </md-card-actions>
        <br>


          <md-card-title>{{ 'Code to exit survey' | translate }}</md-card-title>
          <md-card-content>
            <md-input-container>
              <input mdInput
                autocomplete="new-password"
                type="number"
                pattern="[0-9]+"
                inputmode="numeric"
                placeholder="{{ 'Minimum 4 numbers' | translate }}"
                #newEscapePassword>
                <md-hint align="end">{{newEscapePassword.value.length}} / 4++</md-hint>
            </md-input-container>
            <br>
            <p>{{ 'Retype password' | translate }}</p>
            <md-input-container>
              <input mdInput
                [disabled]='newEscapePassword.value.length <= 3 || newEscapePassword.value === "" '
                type="number"
                pattern="[0-9]+"
                inputmode="numeric"
                placeholder="{{ 'Minimum 4 numbers' | translate }}"
                #newEscapePassword2>
                <md-hint align="end">
                  {{newEscapePassword2.value.length}} / 4++</md-hint>
            </md-input-container>
            <md-icon class="done" *ngIf="newEscapePassword.value === newEscapePassword2.value && !(newEscapePassword.value === '') ">done all</md-icon>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button
              #passwordShangeButton
              color="primary"
              minlength="3"
              md-visible="true"
              [mdTooltip]="(newEscapePassword.value.length <= 3 || !(newEscapePassword.value === newEscapePassword2.value) || (newEscapePassword.value === '')) ?
                ('You need to write the same password twice' | translate ) : '' "
              mdTooltipPosition="below"
              [disabled]="(newEscapePassword.value.length <= 3 || !(newEscapePassword.value === newEscapePassword2.value) || (newEscapePassword.value === ''))"
              (click)="changeExitSurveyPassword(newEscapePassword.value); newEscapePassword.value = ''; newEscapePassword2.value = ''"
              >
              <div [mdTooltip]="(newEscapePassword.value.length <= 3 || !(newEscapePassword.value === newEscapePassword2.value) || (newEscapePassword.value === '')) ?
              ('You need to write the same password twice' | translate ) : '' "
              mdTooltipPosition="below">
                {{ 'Change password' | translate }}
              </div>
            </button>
          </md-card-actions>



      </md-card>
      <md-card>
        <md-card-title>{{ 'Delete account' | translate }}</md-card-title>
        <md-card-content>
          <table class="userTable">
            <tr>
              <th>{{ 'User ID' | translate }}</th>
              <th>{{ 'Email' | translate }}</th>
              <th>{{ 'Role' | translate }}</th>
            </tr>
            <tr *ngFor="let user of userList;  let i=index; let odd=odd; let even=even;"
            (click)="openDialog(user._id)"
            [ngClass]="{ odd: odd, even: even }">
            <td>{{user._id}}</td>
            <td>{{user.email}}</td>
            <td>{{ user.role | translate }}</td>
            <td><md-icon>delete_forever</md-icon></td>
          </tr>
        </table>
        <!-- <button md-raised-button color="warn" (click)="openDialog()">Delete!</button> -->
      </md-card-content>
    </md-card>




    </div>
  </md-tab>
</md-tab-group>
</div>
