

.tabContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  md-card {
    display: inline-block;
    flex: 1 1;
  }
}

.warning {
  color: red;
}

.done {
  position: relative;
  top: 7px;
}

.referralField {
  width: 500px;
}

.btn {
  margin-left: 10px;
}
.btn-success {
  background-color: green;
  color: white;
}

.userTable {
  border-collapse: collapse;
  max-height: 150px;
  overflow-y: scroll;
  .odd {
    background: rgba(0, 0, 0, 0.1);
  }
  tr.odd, tr.even {
    &:hover {
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
  td {
    padding: 10px;
  }
}

.dropdown {
  display: inline-block;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
