<div>
  <md-tab-group dynamicHeight="true" [(selectedIndex)]="tabIndex" (selectChange)="onTabChange($event)">



  <md-tab label="{{ 'User settings' | translate }}">
    <div class="tabContent">
      <md-card>
        <md-card-title>{{ 'Email' | translate }}</md-card-title>
        <md-card-content>
          <form [formGroup]="newEmailForm" (ngSubmit)="changeEmail(newEmailForm.value)">
            <md-input-container>
              <input mdInput type="email" pattern="\S+@\S+\.\S+" placeholder="{{user.email}}" [formControl]="newEmailForm.controls['newEmail']">
              <md-hint class="warning" *ngIf="newEmailForm.controls['newEmail'].invalid && newEmailForm.controls['newEmail'].touched">
                {{ 'This field is invalid.' | translate }}
              </md-hint>
            </md-input-container>
            <md-card-actions>
              <button md-raised-button type="submit" color="primary" [disabled]="newEmailForm.controls['newEmail'].invalid">
                {{ 'Change email' | translate }}
              </button>
            </md-card-actions>
          </form>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>{{ 'Password' | translate }}</md-card-title>
        <md-card-content>
          <md-input-container>
            <input mdInput
              autocomplete="new-password"
              type="password"
              placeholder="{{ 'Minimum 4 characters' | translate }}"
              #newPassword>
              <md-hint align="end">{{newPassword.value.length}} / 4++</md-hint>
          </md-input-container>
          <br>
          <p>{{ 'Retype password' | translate }}</p>
          <md-input-container>
            <input mdInput
              [disabled]='(newPassword.value.length <= 3) || (newPassword.value === "") '
              type="password"
              placeholder="{{ 'Minimum 4 characters' | translate }}"
              #newPassword2>
              <md-hint align="end">
                {{newPassword2.value.length}} / 4++</md-hint>
          </md-input-container>
          <md-icon class="done" *ngIf="newPassword.value === newPassword2.value && !(newPassword.value === '') ">done_all</md-icon>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button
            #passwordShangeButton
            color="primary"
            minlength="3"
            md-visible="true"
            [mdTooltip]="(newPassword.value.length <= 3 || !(newPassword.value === newPassword2.value) || (newPassword.value === '')) ?
              ('You need to write the same password twice' | translate ) : '' "
            mdTooltipPosition="below"
            [disabled]="newPassword.value.length <= 3 || !(newPassword.value === newPassword2.value) || (newPassword.value === '') "
            (click)="changePassword(newPassword.value)">
            <div [mdTooltip]="(newPassword.value.length <= 3 || !(newPassword.value === newPassword2.value) || (newPassword.value === '')) ?
            ('You need to write the same password twice' | translate ) : '' "
            mdTooltipPosition="below">
              {{ 'Change password' | translate }}
            </div>
          </button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-title>{{ 'Language' | translate }}</md-card-title>
        <md-card-content>
          <p>
            {{ 'Change the preferred language here' | translate }}
          </p>
          <md-select [(ngModel)]="selectedLanguage" (change)='setSelectedLanguage()'>
            <md-option *ngFor="let m of [{name: 'English', code: 'en'}, {name: 'Norwegian', code: 'no'}]" [value]="m.code">
              {{ m.name | translate }}
            </md-option>
          </md-select>
        </md-card-content>
      </md-card>
    </div>
  </md-tab>




  <!-- ADMIN SETTINGS START HERE!!! -->

  <md-tab *ngIf="user.role==='vitenleader' || user.role==='sysadmin'" label="{{ 'Admin settings' | translate }}">
    <div class="tabContent">
      <md-card>
        <md-card-title>{{ 'Refer user' | translate }}</md-card-title>
        <md-card-subtitle>{{ 'Current role: role' | translate: user.role }}</md-card-subtitle>
        <md-card-content>

          <md-select placeholder="{{ 'Role' | translate }}" class="dropdown" [(ngModel)]="selectedRole" name="role">
            <md-option *ngFor="let role of roles" [value]="role.value"
              [disabled]="(role.value==='sysadmin' && user.role != 'sysadmin') || ((!centers || centers.length == 0) && role.value != 'sysadmin')">
              {{role.value}}
            </md-option>
          </md-select>


          <md-select placeholder="{{ 'Center' | translate }}" class="dropdown" [(ngModel)]="selectedCenter"
            name="center" [disabled]="user.role != 'sysadmin' || (!centers || centers.length == 0)">
            <md-option *ngFor="let center of centers" [value]="center._id">
              {{center.name}}
            </md-option>
          </md-select>

          <button md-raised-button class="dropdown" color="primary" minlength="3"
            (click)="requestReferral(selectedRole, selectedCenter)"
            [disabled]="(!selectedCenter && selectedRole !== 'sysadmin') || !selectedRole">
            {{ 'Refer user' | translate}}
          </button>
        </md-card-content>
        <md-card-actions>
          <!-- <button md-raised-button color="primary" minlength="3" (click)="requestReferral('admin')">
            {{ 'Refer admin' | translate }}
          </button>
          <button md-raised-button color="primary" minlength="3" (click)="requestReferral('member')">
            {{ 'Refer member' | translate }}
          </button> -->
        </md-card-actions>

<!--
          <md-card-title>{{ 'Code to exit survey' | translate }}</md-card-title>
          <md-card-content>
            <md-input-container>
              <input mdInput
                autocomplete="new-password"
                type="number"
                pattern="[0-9]+"
                inputmode="numeric"
                placeholder="{{ 'Minimum 4 numbers' | translate }}"
                #newEscapePassword>
                <md-hint align="end">{{newEscapePassword.value.length}} / 4++</md-hint>
            </md-input-container>
            <br>
            <p>{{ 'Retype password' | translate }}</p>
            <md-input-container>
              <input mdInput
                [disabled]='newEscapePassword.value.length <= 3 || newEscapePassword.value === "" '
                type="number"
                pattern="[0-9]+"
                inputmode="numeric"
                placeholder="{{ 'Minimum 4 numbers' | translate }}"
                #newEscapePassword2>
                <md-hint align="end">
                  {{newEscapePassword2.value.length}} / 4++</md-hint>
            </md-input-container>
            <md-icon class="done" *ngIf="newEscapePassword.value === newEscapePassword2.value && !(newEscapePassword.value === '') ">done all</md-icon>
          </md-card-content>
          <md-card-actions>
            <button md-raised-button
              #passwordShangeButton
              color="primary"
              minlength="3"
              md-visible="true"
              [mdTooltip]="(newEscapePassword.value.length <= 3 || !(newEscapePassword.value === newEscapePassword2.value) || (newEscapePassword.value === '')) ?
                ('You need to write the same password twice' | translate ) : '' "
              mdTooltipPosition="below"
              [disabled]="(newEscapePassword.value.length <= 3 || !(newEscapePassword.value === newEscapePassword2.value) || (newEscapePassword.value === ''))"
              (click)="changeExitSurveyPassword(newEscapePassword.value); newEscapePassword.value = ''; newEscapePassword2.value = ''"
              >
              <div [mdTooltip]="(newEscapePassword.value.length <= 3 || !(newEscapePassword.value === newEscapePassword2.value) || (newEscapePassword.value === '')) ?
              ('You need to write the same password twice' | translate ) : '' "
              mdTooltipPosition="below">
                {{ 'Change password' | translate }}
              </div>
            </button>
          </md-card-actions> -->


      </md-card>
      <md-card class="centerSettings">
        <md-card-content>
          <button md-menu-item routerLink="/admin/center" *ngIf="user.role !== 'sysadmin'">
            <md-icon>settings</md-icon> {{ 'Center settings' | translate }}
          </button>

          <div *ngIf="user.role==='sysadmin'">


            <md-card-title>{{ 'Update center' | translate }}</md-card-title>
            <md-card-content>
              <div class="tableHolder">
                <table class="userTable">
                  <tr>
                    <th>{{ 'Center' | translate }}</th>
                    <th>{{ 'Action' | translate }}</th>
                  </tr>
                  <tr *ngFor="let center of centers;  let i=index; let odd=odd; let even=even;"
                  (click)="updateCenter(center._id)"
                  [ngClass]="{ odd: odd, even: even }">
                  <td>{{center.name}}</td>
                  <td class="editCell"><md-icon>edit</md-icon></td>
                </tr>
              </table>
            </div>
            <!-- <button md-raised-button color="warn" (click)="openDialog()">Delete!</button> -->
            <br />
            <button md-menu-item routerLink="/admin/center/addcenter" >
              <md-icon>add</md-icon>
              {{ 'New center' | translate }}
            </button>
          </md-card-content>
        </div>
      </md-card-content>
    </md-card>



      <md-card>
        <md-card-title>{{ 'Delete account' | translate }}</md-card-title>
        <md-card-content>
          <div class="tableHolder">

          <table class="userTable">
            <tr>

              <th>{{ 'Email' | translate }}</th>
              <th>{{ 'Role' | translate }}</th>
            </tr>
            <tr *ngFor="let user of userList;  let i=index; let odd=odd; let even=even;"
            (click)="openDialog(user._id)"
            [ngClass]="{ odd: odd, even: even }">

            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td><md-icon>delete_forever</md-icon></td>
          </tr>
        </table>
      </div>
        <!-- <button md-raised-button color="warn" (click)="openDialog()">Delete!</button> -->
      </md-card-content>
    </md-card>




    </div>
  </md-tab>
</md-tab-group>
</div>
