<div class="smileyContainer">
  <div class="smiley" ><input [ngClass]="{ 'smile': true, 'active': (selectedSmile == 0) }" type="image" src="../../assets/images/Angry.svg" (click)="selectSmile(0)"></div>
  <div class="smiley" ><input [ngClass]="{ 'smile': true, 'active': (selectedSmile == 1) }" type="image" src="../../assets/images/Smangry.svg" (click)="selectSmile(1)"></div>
  <div class="smiley" ><input [ngClass]="{ 'smile': true, 'active': (selectedSmile == 2) }" type="image" src="../../assets/images/Smiley.svg" (click)="selectSmile(2)"></div>
</div>
