.smileyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 75vw;
  height: 15vh;
  justify-content: space-between;
}

.smile {
  height: 30vh;
  width: 30vh;
  border-radius: 30vh;
}

.smile:focus{outline: none;}
.angrySmiley:focus{outline: none;}
.normalSmiley:focus{outline: none;}
.smilingSmiley:focus{outline: none;}

@keyframes jump-out {
  0% {
    transform: scale(1,1);
  }
  25% {
    transform: scale(1.4,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}
