
<div>
  <div *ngIf="loaded">

    <input [(ngModel)]="search"/>
    <button (click)="searched(this.search)"> Search</button>

    <div *ngIf="search_result">
        <h2>Search results for <b>{{this.search}}</b>:</h2>
        <div id="searchresults" *ngFor="let searchresult of searchedsurveys">
          <button id="surveyicons" (click)="searched(this.search)">{{searchresult.name}}</button>
        </div>
    </div>


      <h2>Recent</h2><br>
    <div id="showresults" *ngFor="let survey of allsurveys">
      <button id="surveyicons" (click)="clicked(survey.name,survey._id)">{{survey.name}}</button>
      <!--<h2>{{survey._id}}</h2>-->
      <!--<h2>{{survey.date}}</h2>-->
    </div>

  </div>

<h2>All Surveys:</h2><br>
    <div id="showresults" *ngFor="let survey of allsurveys">
      <button id="surveyicons" (click)="clicked(survey.name,survey._id)">{{survey.name}}</button>
      <!--<h2>{{survey._id}}</h2>-->
    </div>
</div>
