<div>
  <md-toolbar color="primary">
    <div class="flexchild">
      <app-logo-component logoVariant="icon" color="primary" [useColorContrast]="true"></app-logo-component>
    </div>
    <div class="flexchild alignCenter">
      <app-logo-component logoVariant="text" color="primary" [useColorContrast]="true"></app-logo-component>
    </div>
    <div class="flexchild alignRight languageSelection">
      <button md-icon-button color="accent" (click)="translateService.use('en')" [ngClass]="{'active': translateService.getCurrentLang() === 'en'}">
        <input type="image" src="../../assets/images/FlaggUK.svg">
      </button>
      <button md-icon-button color="accent" (click)="translateService.use('no')" [ngClass]="{'active': translateService.getCurrentLang() === 'no'}">
        <input type="image" src="../../assets/images/FlagNorge.svg">
      </button>
    </div>
  </md-toolbar>


  <div *ngIf="loaded" class="wrapper">
    <div class="searchbar">
      <md-input-container>
        <input mdInput [formControl]="searchFormControl" [(value)]="search" placeholder="{{ 'Search' | translate }}"/>
        <span md-prefix><md-icon class="searchIcon">search</md-icon></span>
      </md-input-container>
    </div>
    <h2 *ngIf="search && search.length > 0" class="header"> {{ 'Search results for search' | translate:[this.search] }}</h2>
    <div class="search surveyParent" *ngIf="search && search.length > 0">
      <md-card class="survey"  *ngFor="let survey of allsurveys | adminSurveyPipe: search : 10">
        <md-card-title>
          {{survey.name}}
        </md-card-title>
        <md-card-subtitle>
          {{formatDate(survey.date)}}
        </md-card-subtitle>
        <md-card-content>
          {{survey.comment}}
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="primary" id="surveyicons" routerLink="/survey/{{survey._id}}" routerLinkActive="active">{{ 'Start' | translate }}</button>
        </md-card-actions>
      </md-card>
    </div>


    <h2 class="header">{{ 'All Surveys' | translate }}</h2>
    <div class="showresults surveyParent" >
      <!--TODO Button must route to a pop-up window-->
      <md-card class="survey" *ngFor="let survey of allsurveys | adminSurveyPipe: null : allsurveys.length ">
        <md-card-title>
          {{survey.name}}
        </md-card-title>
        <md-card-subtitle>
          {{formatDate(survey.date)}}
        </md-card-subtitle>
        <md-card-content>
          {{survey.comment}}
        </md-card-content>
        <md-card-actions>
          <button md-raised-button color="primary" id="surveyicons"  routerLink="/survey/{{survey._id}}" routerLinkActive="active">{{ 'Start' | translate }}</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
