<div class="yesnoContainer">
  <div class="yesno-box" ><input class="thumbsUp" [ngClass]="{ 'yesno-btn': true, 'active': (selectedAnswer == 0) }" type="image" src="../../assets/images/ThumbUp.svg" (click)="selectAnswer(0)" [@jumpRotate]="thumbActiveOne" (@jumpRotate.done)="animationEnd($event)"></div>
  <div class="yesno-box" ><input class="thumbsDown" [ngClass]="{ 'yesno-btn': true, 'active': (selectedAnswer == 1) }" type="image" src="../../assets/images/ThumbDown.svg" (click)="selectAnswer(1)" [@jumpRotate]="thumbActiveTwo" (@jumpRotate.done)="animationEnd($event)"></div>
</div>
