.freetxtBox {
  font-family: 'Roboto Mono', monospace;
  font-size: 2vw;
  width: 75vw;
  height: 45vh;
  max-width: 75vw;
  max-height: 45vh;
  background-color: white;
  resize: none;
}

input {
  resize: none;
  border: none;
  height: auto;
}

md-card-content {
  padding: 0;
  height: auto;
}


.freetxtBox:focus{outline: none;}
