.freetxtBox {
  font-size: 2vw;
  width: 75vw;
  max-width: 75vw;
}

.freeTextArea {
  font-family: 'Roboto Mono', monospace;
  resize: none;
  height: 25vh;
  max-height: 25vh;
}

.parentBox {
  margin-bottom: 10vh;
}


md-card-content {
  padding: 0;
  height: auto;
}


.freetxtBox:focus{outline: none;}
