<md-card ngClass="parentBox">
  <md-card-content>
    <md-input-container ngClass="freetxtBox">
      <textarea mdInput type='text' [(ngModel)] = "textValue" class="freeTextArea"
      [formControl]="textControl" #textBox maxlength="255" name=""
      placeholder="{{ 'Your answer' | translate }}" (change) = "updateAnswers()"></textarea>
      <md-hint>
        {{ 'Max 255 characters' | translate }}
      </md-hint>
    </md-input-container>
  </md-card-content>
</md-card>
<!--
<table class="freetxtContainer"><tr>
    <td>
      <md-input-container>
        <input class="freetxtBox" mdInput #textBox maxlength="100" value=" ">
        <md-hint align="end"></md-hint>
      </md-input-container>
    </td>
  </tr>
</table> -->
