<div class="newUser">
  <md-card>
    <md-card-title align="center">{{ 'Register New User' | translate }}</md-card-title>
    <md-card-content>
      <form [formGroup]="newUserForm" (ngSubmit)="submitForm(newUserForm.value)">
        <md-input-container md-block>
          <input mdInput class="form-control" type="text" placeholder="Email" [formControl]="newUserForm.controls['email']" required />
          <md-hint class="warning" *ngIf="newUserForm.controls['email'].hasError('required') && newUserForm.controls['email'].touched">
            {{ 'This field is required.' | translate }}
          </md-hint>
        </md-input-container>
        <md-input-container md-block>
          <input mdInput
            class="form-control"
            type="password"
            placeholder="Password"
            [formControl]="newUserForm.controls['password']"
            required
            #newPassword/>
          <md-hint align="end">{{newPassword.value.length}} / 4++</md-hint>
          <md-hint class="warning" *ngIf="newUserForm.controls['password'].hasError('required') && newUserForm.controls['password'].touched">
            {{ 'This field is required.' | translate }}
          </md-hint>
        </md-input-container>
        <md-input-container md-block>
          <input mdInput
            class="form-control"
            type="password"
            placeholder="Confirm Password"
            [formControl]="newUserForm.controls['passwordconfirm']"
            required
            #newPasswordConfirm/>
            <md-hint align="end">{{newPasswordConfirm.value.length}} / 4++</md-hint>
          <md-hint class="warning" *ngIf="newPassword.value != newPasswordConfirm.value && newUserForm.controls['passwordconfirm'].touched">
            {{ 'You need to write the same pasword twice' | translate }}
          </md-hint>
        </md-input-container>
        <div class="actions">
            <button md-raised-button
            #submitLoginForm
            type="submit"
            class="btn btn-success"
            [disabled]="!newUserForm.valid || newPassword.value != newPasswordConfirm.value"
            color="primary"
            *ngIf="!loading"
            >
            <div [mdTooltip]="(!newUserForm.valid) ? ( 'Email and password are required' | translate ) : '' " tooltip-position="above">
              {{ 'Submit' | translate }}
            </div>
          </button>
          <!-- loading circle -->
          <md-progress-circle *ngIf="loading" mode="indeterminate" class="smaller loadingcircle" color="primary"></md-progress-circle>
        </div>
      </form>
    </md-card-content>
  </md-card>

</div>
