
.active_survey_window{
  .surveyView{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeInSurvey;
    animation-duration: 2s;

    /* Standard syntax */
    @keyframes fadeInSurvey {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    display: flex;
    height: 100vh;
    width: 100%;
  }
}

/*Styling for the big playbutton at the start of a survey*/
.playbutton{
  position: fixed;
  top: 35%;
  left: 40%;
  button{
    width: 20vw;
    height: 30vh;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    p{
      opacity: 0.5;
    }
  }
}

/*The animation that triggers when starbutton is clicked*/
.playbutton.clicked {

  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeStartButton;
  animation-duration: 1s;

  /* Standard syntax */
  @keyframes fadeStartButton {
    from {opacity: 1;}
    to {opacity: 0; visibility: hidden;}
  }
}

/*This is the navigation pane that lets you navigate between questions*/
.qnavigate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(#606060, 0.2);
  width: 100%;
  position: fixed;
  bottom: 0;

  .qnavigateArea{
    flex: 1 1;
    margin: 15px;
    &.alignRight{
      text-align: right;
    }
  }
  h2{
    margin: 15px;
  }
}


/*Trygve demo av SCSS*/
/*$red: red;
.class2 {


  button {
    span {

    }
  }
}
p {
  color: lighten($red, 20%);

}
*/
h1 {
  padding: 0;
  margin: 0;
}
