$main-background-color: #F5F5F5;

.active_survey_window {
  background-color: $main-background-color;
  .surveyView{
    display: flex;
    .playbutton{
      margin: auto auto;
      height: 60vh;
    }
    height: 100vh;
    width: 100vw;
  }
}

/*Styling for the big playbutton at the start of a survey*/
.playbutton {
  //
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  border-radius: 75vh;
}
/*No border around playbutton when clicked*/
.playbutton.clicked {
  display: none;
}
// Styling the exit button
.exitButton {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 10vh;
  width: 10vh;
  opacity: 0.4;
  border-radius: 10vh;
}
.exitButton:hover {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: fadeExitButton;
    animation-duration: 2s;

    /* Standard syntax */
    @keyframes fadeExitButton {
      from {opacity: 0.4;}
      50% {opacity: 1}
      to {opacity: 0.4;}
    }
}

// Styling for the playbutton
.svgButton {
   width: 60vh;
   height: 60vh;
   border-radius: 60vh;
}
.svgButton:focus {outline: none;}
.qnavigateArea:focus {outline: none;}
.exitButton:focus {outline: none;}

/* Styling for the container of the Start Survey text below the play button */
.startTextContainer {
  width: 100vw;
  height: 10vh;
  text-align: center;
}

//languageSelection
.languageSelection {
  display: flex;
  position:fixed;
  top: 5%;
  right: 5%;
  button{
    height:10vh;
    width: 10vh;
  }
  .divider{
    width: 2vw;
    height:auto;
    display:inline-block;
}
}

/* Styling for of the Start Survey text above the play button */
.startText {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 6vw;
  font-weight: bold;
  color: #263238;
  text-shadow: 6px 6px 8px #888888;
}

/* Styling for the container for the logos under the play button */
.logoContainer {
  display: flex;
}

/* Styling for the vitenlogo Container */
.vitenContainer {
  height: 15vh;
  width: 50vw;
}

/* Styling for the robotlogo Container */
.robotContainer {
  height: 15vh;
  width: 50vw;
}

/* Styling for the vitenlogo */
.vitenlogo {
  height: 80px;
  width: 80px;
  margin: 0 0 0 30px;
}

/* Styling for the robotlogo */
.robotlogo {
  height: 80px;
  width: 80px;
  float: right;
  margin: 0 30px 0 0;
}

/*This is the navigation pane that lets you navigate between questions*/
.qnavigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  align-self: center;
  margin: 0px;
  bottom: 5%;
  height: 15vh;
  width: 96%;
  left: 2%;

  .qnavigateArea {
    padding: 0 5px 0 5px;
    height: 15vh;
    width: 15vw;
    // margin-bottom: 10px;
    &.alignRight {
      text-align: right;
    }
  }
}

.surveyQuestion {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}
.answerTypes {
  display: flex;
  justify-content: center;
}
.txt {
  text-align: center;
  max-width: 75vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

h1 {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 10vh;
}
h3 {
  text-align: center;
}

.questionTitle {
  font-family: 'Baloo Bhaina', cursive;
  color: #263238;
  font-size: 4vw;
  line-height: 4vw;
  white-space: pre-line;
}

.qtext {
  font-family: 'Baloo Bhaina', cursive;
  color: #263238;
  font-size: 3vw;
}

.surveyDone {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
    span {
      font-family: 'Baloo Bhaina', cursive;
      margin: auto auto;
      font-weight: bold;
      font-size: 10vw;
    }
}

.surveyDone:hover {
  cursor: pointer;
}

.quitSurvey {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 5vh;
  width: 5vh;
  opacity: 0;
  cursor: default;
}

#qButton {
  max-width: 100%;
  height: inherit;
  width: inherit;
}

input[type=image]:disabled {
  opacity:0.5;
}

.flag {
  height: 8vw;
  width: 8vw;
  border-radius: 8vw;
}

.flag:focus {
  outline: none;
}


.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .modal-content {
    background-color: $main-background-color;
    margin: 12vh auto;
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    .modal-text-big {
      display: flex;
      justify-content: center;
      align-content: center;
      overflow: hidden;
      margin: 1vw;
      margin-bottom: 10vh;

      span {
        font-family: 'Roboto', sans-serif;
        margin: auto auto;
        font-weight: bold;
        font-size: 5vw;
        text-align: center;
      }
    }

    .modal-text-small {
      display: flex;
      justify-content: center;
      align-content: center;
      overflow: hidden;
      margin: 1vw;
      width: 75vw;

      span {
        font-family: 'Roboto', sans-serif;
        margin: auto auto;
        font-weight: bold;
        font-size: 3vw;
        text-align: center;
      }
    }

    .button-div {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 20vh;

      .modal-button {
        color: white;
        background-color: #FF5722;
        align-content: center;
      }
    }

  }
}


// Disable highlights

// http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css
.active_survey_window {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
* { // scoped by angular. ELse this would be horrible
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
