<div class="wrapper">
  <h1 md-dialog-title>{{ 'Enter the code to quit' | translate }}</h1>
  <form [formGroup]="codeForm" (ngSubmit)="quitSurvey(codeForm.value.code.toString())">
    <div align="center">
      <md-input-container>
        <input mdInput type="number" placeholder="{{ 'Code' | translate }}" autocomplete="off" [formControl]="codeForm.controls['code']">
        <md-hint *ngIf="codeForm.controls['code'].hasError('required') && codeForm.controls['code'].touched">
          {{ 'This field is required.' | translate }}
        </md-hint>
        <md-hint class="warning" *ngIf="!codeForm.controls['code'].hasError('required') &&
        codeForm.controls['code'].invalid && codeForm.controls['code'].touched">
        {{ 'This field is invalid.' | translate }}
      </md-hint>
    </md-input-container>
    </div>
    <div md-dialog-actions align="center">
      <button md-raised-button color="primary" type="submit" [disabled]="!codeForm.valid">{{ 'Okay' | translate }}</button>
      <button md-raised-button color="warn" type="button" (click)="cancelPrompt()">{{ 'Cancel' | translate }}</button>
    </div>
  </form>
</div>
