.adminPortal {
  .logo {
    margin: 20px auto;
    margin-top: 30px;
    text-align: center;
    font-size: 4em;
    // font-family: 'Roboto Mono', sans-serif;
    font-family: 'Baloo Bhaina', cursive;
  }

  md-card {
    margin: 0 auto;
    max-width: 250px;
    .actions {
      text-align: center;
      button {
        width: 100%;
      }
    }
  }
  md-input-container {
    margin: 10px 0 20px 0;
    width: 100%;
    md-hint {
      color: red;
    }
  }
}

.smaller {
  margin-left: 20px;
  // fix this!
  padding-bottom: 0px;
  width: 30px;
  height: 30px;
  display:inline-block;
}

.error {
  color: red;
  top: 11px;
  margin-bottom: 11px;
}


.helpBox {
  display: block;
  margin: 30px auto;
  text-align: center;
}
