<div class="adminPortal">
  <div class="logo">
    <app-logo-component logoVariant="full" color="black" [useColorContrast]="true" width="175px"></app-logo-component>
  </div>
  <md-card>
    <md-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
        <md-input-container md-block>
          <input mdInput class="form-control" type="email" pattern="\S+@\S+\.\S+"
          placeholder="{{ 'Email' | translate }}" [formControl]="loginForm.controls['email']" required>
          <md-hint *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
            {{ 'This field is required.' | translate }}
          </md-hint>
          <md-hint class="warning" *ngIf="!loginForm.controls['email'].hasError('required') &&
              loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            {{ 'This field is invalid.' | translate }}
          </md-hint>
        </md-input-container>
        <md-input-container md-block>
          <input mdInput class="form-control" type="password" placeholder="{{ 'Password' | translate }}" [formControl]="loginForm.controls['password']" required>
          <md-hint *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
            {{ 'This field is required.' | translate }}
          </md-hint>
        </md-input-container>
        <div class="error" *ngIf="error != '' ">
          {{error | translate }}
        </div>
        <div class="actions">
            <button md-raised-button
            #submitLoginForm
            type="submit"
            class="btn btn-success"
            [disabled]="!loginForm.valid"
            color="primary"
            *ngIf="!loading"
            >
            <div [mdTooltip]="(!loginForm.valid) ? ('Email and password are required' | translate) : '' " tooltip-position="above">
              {{ 'Log in' | translate }}
            </div>
          </button>
          <!-- loading circle -->
          <md-progress-circle *ngIf="loading" mode="indeterminate" class="smaller loadingcircle" color="primary"></md-progress-circle>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
