.red {
  color: red;
}

.example-full-width {
  width: 400px;
}



.smaller {
  margin-left: 20px;
  // fix this!
  padding-bottom: 0px;
  width: 30px;
  height: 30px;
  display:inline-block;
}
.loadingcircle {
  position: relative;
  top: 11px;
}
