<div class="adminPortal">
  <md-card>
    <md-card-title align="center">Login</md-card-title>
    <md-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
        <md-input-container md-block>
          <input mdInput class="form-control" type="text" placeholder="Email" [formControl]="loginForm.controls['email']" required>
          <md-hint *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
            This field is invalid.
          </md-hint>
        </md-input-container>
        <md-input-container md-block>
          <input mdInput class="form-control" type="password" placeholder="password" [formControl]="loginForm.controls['password']" required>
          <md-hint *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
            This field is invalid.
          </md-hint>
        </md-input-container>
        <div class="actions">
            <button md-raised-button
            #submitLoginForm
            type="submit"
            class="btn btn-success"
            [disabled]="!loginForm.valid"
            color="primary"
            *ngIf="!loading"
            >
            <div [mdTooltip]="(!loginForm.valid) ? 'email and password are required' : '' " tooltip-position="above">
              Submit
            </div>
          </button>
          <!-- loading circle -->
          <md-progress-circle *ngIf="loading" mode="indeterminate" class="smaller loadingcircle" color="primary"></md-progress-circle>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
