<div class="flexParent">
  <div class="leftSide surveyList">
    <app-all-surveys></app-all-surveys>
  </div>
  <div class="rightSide">
    <md-card *ngIf="survey && !loadingSurvey" class="selectedSurveyArea" [@fadeIn]="">
      <md-card-title-group>
        <md-card-title>{{survey.name}}</md-card-title>
        <md-card-subtitle>{{survey.comment}}</md-card-subtitle>
        <md-icon md-list-avatar class="activeIcon" [color]="survey.active ? 'primary' : ''">question_answer</md-icon>
      </md-card-title-group>
      <md-card-content>
        <!-- GRAPHS GO HERE -->

        <app-survey-retrieval [survey] = "survey"></app-survey-retrieval>
        <!-- END GRAPHS GO HERE -->
      </md-card-content>
      <md-card-actions align="right">
        <button md-raised-button color="primary" routerLink="/admin/editsurvey/{{survey._id}}" routerLinkActive="active">
          <md-icon>picture_as_pdf</md-icon> NYI: {{ 'Download as PDF' | translate }}
        </button>
        <button md-raised-button color="primary" routerLink="/admin/editsurvey/{{survey._id}}" routerLinkActive="active">
          <md-icon>timeline</md-icon> NYI: {{ 'Download Raw Data' | translate }}
        </button>
        <button md-raised-button color="accent" routerLink="/admin/editsurvey/{{survey._id}}" routerLinkActive="active">
          <md-icon>build</md-icon> {{ 'Edit' | translate }}
        </button>
      </md-card-actions>
    </md-card>
    <div *ngIf="!survey || loadingSurvey" class="emptyArea">
      <md-progress-circle *ngIf="loadingSurvey" mode="indeterminate" class="loadingCircle" color="primary"></md-progress-circle>
      <div *ngIf="!loadingSurvey">

      </div>
  </div>
</div>
