

.rightSide {
  display: inline-block;
  width: 75%;
}

.leftSide {
  display: inline-block;
  width: 25%;
}

.emptyArea {

  .loadingCircle {
    margin: 0 auto;
    margin-top: 60px;
  }
}

.selectedSurveyArea {
  .activeIcon {
    width: 1em;
    height: 1em;
    font-size: 3em;
  }
}

.center {
  margin: auto;
  height: 200px;
  margin-top: 150px;
  width: 50%;
  padding: 10px;
}
