<div>
  <div class="surveyList">
    <app-all-surveys></app-all-surveys>
  </div>
  <md-card *ngIf="survey" class="selectedSurveyArea">
    <md-card-title-group>
      <md-card-title>{{survey.name}}</md-card-title>
      <md-card-subtitle>{{survey.comment}}</md-card-subtitle>
      <md-icon md-list-avatar class="activeIcon" [color]="survey.active ? 'primary' : ''">question_answer</md-icon>
    </md-card-title-group>
    <md-card-content>
      <p>
        {{survey.active ? 'Available to users now!' : 'This survey is not active at the moment.'}}
      </p>
      <!-- GRAPHS GO HERE -->

      <!-- This is a temporary graph box -->
      <div [style.height.px]="600" [style.text-align]="'center'">
        graph here!
      </div>

      <!-- END GRAPHS GO HERE -->
    </md-card-content>
    <md-card-actions align="right">
      <button md-raised-button color="primary" routerLink="/admin/editsurvey/{{survey._id}}" routerLinkActive="active">
        NYI: Download as PDF
      </button>
      <button md-raised-button color="primary" routerLink="/admin/editsurvey/{{survey._id}}" routerLinkActive="active">
        NYI: Download Raw Data
      </button>
      <button md-raised-button color="accent" routerLink="/admin/editsurvey/{{survey._id}}" routerLinkActive="active">
        Edit
      </button>
    </md-card-actions>
  </md-card>
  <md-card *ngIf="!survey" class="emptyArea">
    <md-card-title>Admin Area</md-card-title>
    <md-card-subtitle>Toodleloo</md-card-subtitle>
    <md-card-content>
      <p>
        Why hellooo!
      </p>
    </md-card-content>
  </md-card>
</div>
