<!--TODO remove when done with code -->
<p routerLink="/chose-survey" routerLinkActive="active">Survey Choose test</p>
<br />


<input [(ngModel)]="search"/>
<button (click)="showresult()"> Search</button>
<p>you typed:{{this.search}}</p>

<!--
<modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
-->

<div id="showresults" *ngFor="let result of resultsfromdatabase">
<!--TODO this div should show all matching surveys from the search -->

<p *ngIf="this.search == result.name && !this.search == null ">{{result.name}}</p>
<p></p>
</div>

<h2>Recent:</h2>
<div *ngFor="let surv of this.surveys">
  <p>{{surv.id}}</p>
</div>

<h2>Popular:</h2>
<br />





<h2>All surveys:</h2>
<div *ngFor="let surv of this.surveys">
  <!--TODO Make another component that links to another popupwindow in -->
  <!--TODO routerlink is just a demo that checks that the code works -->
  <p routerLink="/chose-survey" routerLinkActive="active">{{surv.id}}</p>
</div>
