<div class="searchBox">
  <md-input-container class="search">
    <input mdInput type="search"
            placeholder="{{'Search' | translate}}"
            [formControl]="searchFormControl"
            [(value)]="searchInput"
            md-tooltip="{{ 'Filter results on title and / or admin comment' | translate }}">
    <span md-prefix><md-icon class="searchIcon">search</md-icon></span>
  </md-input-container>
</div>
<button md-mini-fab
  class="addButton"
  color="primary"
  routerLink="/admin/editsurvey"
  routerLinkActive="active"
  md-tooltip="{{ 'Create New Survey' | translate }}">
  <md-icon>add</md-icon>
</button>

<md-progress-spinner *ngIf="searchLoading" mode="indeterminate" class="loadingCircle" color="primary"></md-progress-spinner>

<div class="treeArea">
  <ul *ngIf="!loading" class="tree">
    <ng-template #recursiveList let-node>
      <li class="folder" [ngClass]="{ 'open': node.open, 'closed': !node.open }">
        <a class="click" (click)="toggleFolderOpenState($event, node)"><md-icon class="icon">{{ node.open ? 'folder_open' : 'folder'}}</md-icon>{{node.title}}</a>
        <md-icon class="dotdotdot" (click)="openContextMenu($event, node)">more_horiz</md-icon>
        <ul class="surveys">
          <li class="survey" *ngFor="let survey of node.surveys">
            <a routerLink="/admin/{{survey._id}}" class="click"><md-icon class="icon">insert_chart</md-icon>{{survey.name}}</a>
          </li>
        </ul>
        <ul class="folders" *ngIf="node.folders && node.folders.length > 0">
          <ng-container *ngFor="let subfolder of node.folders">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: subfolder }"></ng-container>
          </ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: root }"></ng-container>
  </ul>




  <!-- <tree
  [tree]="tree"
  [settings]="treeSettings"
  (nodeSelected)="treeNodeSelected($event)">
</tree> -->
<!--
<tree
[tree]="tree"
[settings]="settings"
(nodeRemoved)="handleRemoved($event)"
(nodeRenamed)="handleRenamed($event)"
(nodeSelected)="handleSelected($event)"
(nodeMoved)="handleMoved($event)"
(nodeCreated)="handleCreated($event)"
(nodeExpanded)="handleExpanded($event)"
(nodeCollapsed)="handleCollapsed($event)">
</tree>

-->
</div>

<!-- loading circle -->
<md-progress-spinner *ngIf="loading" mode="indeterminate" class="loadingCircle" color="primary"></md-progress-spinner>
<span class="listComment"  *ngIf="!loading">
  {{ 'n total surveys. A maximum of m items are displayed.' | translate: [surveyService.surveyList.length,
  searchResultNum > surveyService.surveyList.length ? surveyService.surveyList.length : searchResultNum] }}
</span>

<!-- More button -->
<button md-raised-button *ngIf="surveyService.surveyList.length > searchResultNum"
  class="loadMoreButton" color="primary" (click)="loadMore()">{{ 'Load more' | translate }}</button>
