<div class="searchBox">
  <md-input-container>
    <input mdInput type="search" placeholder="{{'Search' | translate}}"
    [formControl]="searchFormControl" [(value)]="searchInput"
    md-tooltip="{{ 'Filter results on title and / or admin comment' | translate }}">
    <span md-prefix><md-icon class="searchIcon">search</md-icon></span>
  </md-input-container>
</div>


<md-progress-circle *ngIf="searchLoading" mode="indeterminate" class="loadingCircle" color="primary"></md-progress-circle>

<md-list class="list" *ngIf="!searchLoading">
  <md-list-item
    *ngFor="let survey of (surveyService.surveyList | adminSurveyPipe: searchInput : searchResultNum : false )"
    [ngClass]="{'survey': true, 'selected': survey._id == route.snapshot.params['surveyId'],  'active': survey.active}"
    (click)="select(survey._id)"> <!-- the pipe has "true" at the end as we want to NOT show post-surveys -->
    <!-- <md-icon md-list-avatar [color]="survey.active ? 'primary' : ''">question_answer</md-icon> -->
    <h4 md-line>{{survey.name}}</h4>
    <div md-line>
      <div class="date">{{formatDate(survey.date)}}</div>
      <div class="chip" *ngIf="survey.postKey">
        <md-chip-list *ngIf="survey.postKey.length > 1">
          <md-chip color="accent" selected="true" disabled="true">PRE - POST</md-chip>
        </md-chip-list>
      </div>
    </div>
    <p md-line *ngIf="survey.comment">{{survey.comment}}</p>
    <!-- <p md-line>ID: {{survey._id}}</p> -->
  </md-list-item>
</md-list>

<!-- loading circle -->
<md-progress-circle *ngIf="loading" mode="indeterminate" class="loadingCircle" color="primary"></md-progress-circle>
<span class="listComment"  *ngIf="!loading">
  {{ 'n total surveys. A maximum of m items are displayed.' | translate: [surveyService.surveyList.length,
  searchResultNum > surveyService.surveyList.length ? surveyService.surveyList.length : searchResultNum] }}
</span>

<!-- More button -->
<button md-raised-button *ngIf="surveyService.surveyList.length > searchResultNum"
  class="loadMoreButton" color="primary" (click)="loadMore()">Load more</button>
