
.searchBox {
  margin-top: 10px;
}
.search {
}

.addButton {
  display: block;
  width: 98%;
  .mat-icon {
    line-height: 18px; // down from 24px
  }
  margin-bottom: 10px;
}


.loadingCircle {
  margin: 0 auto;
}


.treeArea {
  max-height: 700px;
  overflow-y: scroll;
  text-overflow: ellipsis;
  padding-right: 5px;
  padding-bottom: 50px;
}

.tree {
  padding: 0;
  margin: 0;
}

.click {
  cursor: pointer;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 30px;

  &:link,
  &:hover,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}


li.survey,
li.folder {
  position: relative;
  vertical-align: middle;
  list-style-type: none;
}

li {
  md-icon.icon {
    font-size: 0.95em;
    position: relative;
    top: 2px;
    left: 2px;
  }
}
.dotdotdot {
  position: absolute;
  right: 4px;
  height: 100%;
  top: 0;

  cursor: pointer;
}

.item {
  display: block;

  ul {
    padding-left: 6px;
    background: rgba(0,0,0,0.025);
  }
  &.closed {
    ul {
      display: none;
    }
  }
}

.items {
  min-height: 40px; // NEEDED!!!!!!!! DO NOT REMOVE!!!!!!
}

.firstEntry {
  position: absolute;
}

.selectedUnderline {
  height: 2px;
  position: absolute;
  background: #000;
  width: 90%;
  bottom: 7px;
  left: 20px;
}
