<div class="searchBox">
  <md-input-container>
    <input mdInput type="search" placeholder="{{'Search' | translate}}"
    [formControl]="searchFormControl" [(value)]="searchInput"
    md-tooltip="{{ 'Filter results on title and / or admin comment' | translate }}">
    <span md-prefix><md-icon class="searchIcon">search</md-icon></span>
  </md-input-container>
</div>


<md-progress-circle *ngIf="searchLoading" mode="indeterminate" class="loadingCircle" color="primary"></md-progress-circle>

<md-list class="list" *ngIf="!searchLoading">
  <md-list-item
    *ngFor="let survey of (surveyService.surveyList | adminSurveyPipe: searchInput : searchResultNum)"
    [ngClass]="{'survey': true, 'active': survey._id == route.snapshot.params['surveyId'], 'deactive': !survey.active, 'greenactive': survey.active}"
    (click)="select(survey._id)">
    <h4 md-line>{{survey.name}}</h4>
    <p md-line>{{formatDate(survey.date)}}</p>
    <p md-line *ngIf="survey.comment">{{survey.comment}}</p>
    <!-- <p md-line>ID: {{survey._id}}</p> -->
  </md-list-item>
</md-list>

<!-- loading circle -->
<md-progress-circle *ngIf="loading" mode="indeterminate" class="loadingCircle" color="primary"></md-progress-circle>
<span class="listComment"  *ngIf="!loading">{{ 'n total surveys. A maximum of m items are displayed.' | translate: [surveyService.surveyList.length, searchResultNum] }}</span>
