
.list {
  max-height: 600px;
  overflow-y: auto;
  padding-left: 4px; // offset for scroll bar (for the shadow)
  direction: rtl; // positions the scroll bar on the left side
}

.survey {
  cursor: pointer;
  cursor: hand;


  &.active {
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  &:hover {
    background-color: darken(white, 10%);
  }
}
