@import '../../viten.themes.scss';
@import '../../theme.colours.scss';


.searchBox {
  padding-right: 8px;
  md-input-container {
    display: block;
  }
  .searchIcon {
    width: 1em;
    height: 1em;
    font-size: 1em;
  }
}

.listComment {
  font-size: 0.7em;
}

.survey {
  cursor: pointer;
  cursor: hand;
  border-left: 2px solid #f44336;

  &.selected {
    // styles similar to the md-card element
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  &:hover {
    background-color: darken(white, 10%);
  }
  &.active {
    border-left: 2px solid #A1E232;
  }
}

.loadingCircle {
  margin: 0 auto;
}

.greenactive {
  border-left: 2px solid #A1E232;
}

.deactive {
  border-left: 2px solid #f44336;
}

.date{
    display:inline-block;
    margin-top: 5px;
    margin-bottom: auto;
}
.chip {
  transform: scale(0.68);
  display:inline-block;
  float: right;
  margin-left:10px;
  color: white;
  .mat-accent {
    color: white;
  }
}

.inline {
  display:inline-block;

}
