<div class="adminPortal">
  <md-toolbar color="primary">
    <div class="flexchild">
      <a routerLink="/admin" routerLinkActive="active"
      ><app-logo-component logoVariant="icon" color="primary" [useColorContrast]="true" height="100%" width="80px"></app-logo-component></a>
    </div>
    <div class="flexchild alignCenter">
      <a routerLink="/admin" routerLinkActive="active"
      ><app-logo-component logoVariant="text" color="primary" [useColorContrast]="true" height="100%" width="400px"></app-logo-component></a>
    </div>
    <div class="flexchild alignRight">
      <button md-raised-button color="accent" routerLink="/admin/settings">
        <md-icon>account_circle</md-icon>
        {{ 'Settings' | translate }}
      </button>
      <button md-raised-button color="accent" (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        {{ 'Log out' | translate }}
      </button>
    </div>
  </md-toolbar>
  <!-- <div class="navbar">
    <button md-raised-button color="accent" routerLink="/admin" routerLinkActive="active">
      <md-icon>home</md-icon>{{ 'Admin Home' | translate }}
    </button>
    <button md-raised-button color="accent" routerLink="/admin/editsurvey" routerLinkActive="active">
      <md-icon>assignment</md-icon>{{ 'Create New Survey' | translate }}
    </button>
  </div> -->
  <div class="routerOutlet">
    <router-outlet></router-outlet>
  </div>



  <div class="footer">
    <div class="flexchild"></div> <!-- essentially left side flex object -->
    <div class="breadcrumbs flexchild alignCenter">
      <!-- oneline'd to avoid space characters in between each span element in the link. Do not un-oneline it. -->
      <span *ngFor="let crumb of breadcrumbs; let i = index;"
      ><a routerLink="/{{crumb.url}}" routerLinkActive="active"
      >{{crumb.text}}</a><span *ngIf="!(i == (breadcrumbs.length - 1))"
      class = 'separator'>/</span></span>
      <!-- do not show the '/' if it is the last crumb in the list -->
    </div>
    <div class="flexchild alignRight"></div> <!-- right side flex object -->
  </div>
</div>
