@import '../../viten.themes.scss';

.adminPortal {
  background: $vitenBackground;
}

.flexchild {
  flex: 1 1;
  vertical-align: middle;
}
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

}

.logo {
  width: auto !important;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.logobox {

}


.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;

  button {
    margin-left: 10px;
  }
  button:first-of-type {
    margin: 0;
  }
}


.routerOutlet {
  padding: 10px;
  padding-top: 0;
}


.footer {
  background: $vitenHTMLBackground;
  font-size: 0.80em;

  .breadcrumbs {
    text-align: center;

    padding: 10px;
    span.separator {
      margin: 0 0.2em; // em is relative to font-size
    }
    a, a:active, a:visited {
      color: inherit;
    }
  }

  .notice {
    margin: 20px 0 50px 0;
    color: #555;
    text-align: center;
    span {
      display: block;
    }
    .box {
      margin: 0 auto;
      display: inline-block;
      .col {
        padding: 10px;
        display: inline-block;
      }
    }
  }
}

.constuctionWarning {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 50px;
  padding: 0px;
  color: #efe52b;
  background-color: #404247;
}

.centerTitle {
  padding-top: 7px;
  color: inherit;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.75);
  font-size: 2em;
  &:active,
  &:visited,
  &:hover,
  &:link {
    text-decoration: none;
    color: inherit;
  }
}
