<div class="adminPortal">
  <md-toolbar color="primary" ngClass="topHeader">
      <!-- <a routerLink="/admin" routerLinkActive="active">
      <div class="flexchild">
        <! <app-logo-component logoVariant="icon" color="primary" [useColorContrast]="true" height="100%" width="80px"></app-logo-component>
      </a>
    </div>
  -->
  <div class="flexchild logoBox"><img *ngIf="logoPath" class="logo" height="64" [src]="logoPath"/></div>
    <div class="flexchild alignCenter">
      <a routerLink="/admin" routerLinkActive="active" class="centerTitle">
        <!-- <app-logo-component logoVariant="text" color="primary" [useColorContrast]="true" height="100%" width="400px"></app-logo-component> -->
        {{center}}
      </a>
    </div>
    <div class="flexchild alignRight">
      <button md-button [mdMenuTriggerFor]="menu">
        <md-icon>account_circle</md-icon>
        {{ 'User' | translate }}
      </button>
      <md-menu #menu="mdMenu"  x-position="before" y-position="below" [overlapTrigger]="false">
        <button md-menu-item routerLink="/admin/settings">
          <md-icon>settings</md-icon>
          {{ 'Settings' | translate }}
        </button>
        <button md-menu-item (click)="logout()">
          <md-icon>exit_to_app</md-icon>
          {{ 'Log out' | translate }}
        </button>
        <button md-menu-item (click)="openUserManual()">
          <md-icon>help_outline</md-icon>
          {{ 'Help' | translate }}
        </button>
      </md-menu>




    </div>
  </md-toolbar>
  <!-- <div class="navbar">
    <button md-raised-button color="accent" routerLink="/admin" routerLinkActive="active">
      <md-icon>home</md-icon>{{ 'Admin Home' | translate }}
    </button>
    <button md-raised-button color="accent" routerLink="/admin/editsurvey" routerLinkActive="active">
      <md-icon>assignment</md-icon>{{ 'Create New Survey' | translate }}
    </button>
  </div> -->
  <div class="routerOutlet">
    <router-outlet></router-outlet>
  </div>



  <div class="footer">
    <div class="breadcrumbs">
      <!-- oneline'd to avoid space characters in between each span element in the link. Do not un-oneline it. -->
      <span *ngFor="let crumb of breadcrumbs; let i = index;"
      ><a routerLink="/{{crumb.url}}" routerLinkActive="active"
      >{{crumb.text}}</a><span *ngIf="!(i == (breadcrumbs.length - 1))"
      class = 'separator'>/</span></span>
      <!-- do not show the '/' if it is the last crumb in the list -->
    </div>
    <div class="notice">
      <span>Vitensurvey 2017</span>
      <br />
      <span>{{ 'Contributors' | translate }}</span>
      <div class="box">
        <div class="col">
          <span>Christian Haugland</span>
          <span>Sondre Kristensen</span>
        </div>
        <div class="col">
          <span>Marius Oscar Moe</span>
          <span>Birathepan Tharmakulasingam</span>
        </div>
        <div class="col">
          <span>Hung Quang Thieu</span>
          <span>Trygve Sørensen</span>
        </div>
      </div>
    </div>
  </div>
</div>
