<div class="container">

  <ng-template #textQuestion let-qo let-responses="responses" let-index="index">

  </ng-template>

  <!-- <ng-container *ngTemplateOutlet="textQuestion; context:{ $implicit: qo, responses: responses, index: i }"></ng-container> -->


  <div *ngIf="prePostEqual">
    <div *ngFor="let qo of chartsToDisplay; let i = index">
      <app-chart [questionObject] = "qo" [responses] = "responses" [postResponses]="postResponses" [index] = "i"></app-chart>
    </div>
  </div>

  <div *ngIf="!prePostEqual">
    <p>{{ 'The pre and post survevys do not match, so they have been separated.' | translate }}</p>
    <h1>{{ 'Pre survey' | translate }}</h1>
    <div *ngFor="let qo of chartsToDisplay; let i = index">
      <app-chart [questionObject] = "qo" [responses] = "responses" [index] = "i"></app-chart>
    </div>
    <hr />
    <h1>{{ 'Post survey' | translate }}</h1>
    <div *ngFor="let qo of chartsToDisplay2; let i = index">
      <app-chart [questionObject] = "qo" [responses] = "postResponses" [index] = "i"></app-chart>
    </div>
  </div>

</div>
