<div class="container">
  <div *ngFor="let qo of chartsToDisplay; let i = index">
    <div *ngIf="qo.mode === 'text'" class="noChartDisplayed">
      <!-- If English language is selected AND an english question txt is defined
           then show that. Else show norwegian.
      -->
      <div class="questionHeader">
        <h1>{{ (languageService.getCurrentLang() === 'en' && qo.lang.en && qo.lang.en.txt ) ?
              qo.lang.en.txt : qo.lang.no.txt }}</h1>
      </div>
      <p>
        {{ 'Text based question. Download raw data to extract this.' | translate }}
      </p>
    </div>
    <app-chart *ngIf="qo.mode !== 'text'" [questionObject] = "qo" [responses] = "responses" [index] = "i"></app-chart>
  </div>
</div>
