<div class="container">
  <form>
    <md-select placeholder="Select chart type" [(ngModel)]="chartType" name="chart">
      <md-option *ngFor="let chart of chartTypes" [value]="chart.value">
        {{chart.viewValue}}
      </md-option>
    </md-select>

    <p> Selected value: {{chartType}} </p>
  </form>
  <div [ngSwitch]="chartType">
    <p *ngSwitchCase="bar-chart">
      {{chart.viewValue}}
    </p>
    <app-doughnut-chart *ngSwitchCase="doughnut-chart"></app-doughnut-chart>
  </div>
</div>
