
.questionHeader {
  text-align: center;
  //border-bottom: 2px solid map-get(nth($vitenPrimary,1), 900);
  h1 {
    white-space: pre-line;
    margin: 0;
  }
}

.noChartDisplayed {
  margin-bottom: 100px;
  p {
    text-align: center;
  }
}
