<p>
  login works!
</p>
<form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
  <div class="form-group">
      <label>Email:</label>
      <input class="form-control" type="text" placeholder="test@test.no" [formControl]="loginForm.controls['email']">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" [formControl]="loginForm.controls['password']">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>

</form>
