<md-card>
  <md-card-content>

    <!-- Uses the ng2-completer to search for already-existing nicknames.
         If name exists, it will suggest new names or combinatios of others-->
    <h1>{{'Nickname' | translate}}</h1>
    <md-input-container>
      <input *ngIf="!survey.isPost" mdInput placeholder="{{'Nickname' | translate}}" [formControl]="nickCtrl" #nick (change)="updateAnswers(nick.value)">
      <input *ngIf="survey.isPost" mdInput placeholder="{{'Nickname' | translate}}" [mdAutocomplete]="auto" [formControl]="nickCtrl" #nick (input)="updateAnswers(nick.value)">
    </md-input-container>
    <p *ngIf="survey.isPost && nickNameNotRegistered">{{'You need to answer the pre survey first' | translate }}</p>
    <p *ngIf="!survey.isPost && isNicknameTaken">{{'This nickname is taken, choose another one' | translate}}</p>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let nickname of filterNicknames(nickCtrl.value)" [value]="nickname">
        {{ nickname }}
      </md-option>
    </md-autocomplete>


    <!-- <h2>Hva heter du?</h2>
    <input type='text' class="freetxtBox" [(ngModel)] = "textValue" #textBox maxlength="100" name="" placeholder="Max 100" (change) = "updateAnswers()"> -->
  </md-card-content>
</md-card>
