<div class="container">
  <h1>{{isPatch ? ('Edit' | translate) : ('Create' | translate) }} {{ 'survey' | translate }}</h1>
  <!-- DISPLAY THIS WHEN WE HAVE A SURVEY TO ACTUALLY DISPLAY. THIS IS INSTANT WHEN CREATING A NEW SURVEY -->
  <div *ngIf="!startupLoading">
    <div class="optionContainer surveyOptions">
      <md-card>
        <md-card-title-group>
          <md-card-title>{{ 'Survey options' | translate }}</md-card-title>
          <md-card-subtitle>{{ 'Fill in every field marked as required' | translate }}</md-card-subtitle>
        </md-card-title-group>
        <md-card-content>
          <div>
            <md-input-container>
              <!-- SURVEY NAME -->
              <input mdInput type="text" placeholder="{{ 'Title' | translate }}" ng-pattern="stringPattern"
              [attr.maxlength]="maxOtherInputsLength"
              [(ngModel)]="survey.name" required (change)="onSurveyChange()" autocomplete="off">
              <md-hint *ngIf="!fieldValidate(survey.name)" color="warn">{{ 'This field is required.' | translate }}</md-hint>
            </md-input-container>

            <md-input-container>
              <!-- SURVEY COMMENT (not required) -->
              <input mdInput type="text" placeholder="{{ 'Admin-only Comment' | translate }}" ng-pattern="stringPattern"
              [attr.maxlength]="maxOtherInputsLength" [(ngModel)]="survey.comment" autocomplete="off">
            </md-input-container>
          </div>

          <!-- SURVEY DATE -->

          <!-- SURVEY ACTIVE STATE -->
          <!-- <md-checkbox [(ngModel)]="survey.active">{{ 'Active status' | translate }}</md-checkbox> -->

          <div>
            <!-- USE ENGLISH? -->
            <md-checkbox [(ngModel)]='englishEnabled' (change)="onSurveyChange()">
              {{ 'Enable English for this survey?' | translate }}</md-checkbox>
          </div>
        </md-card-content>
      </md-card>
      <!-- FINAL MESSAGE -->
      <md-card>
        <md-card-title>{{ 'Final message' | translate }}</md-card-title>
        <md-card-subtitle>{{ 'The final text to be displayed as a user completes a survey' | translate }}</md-card-subtitle>
        <md-card-content>
          <md-input-container>
            <!-- SURVEY ENDMESSAGE NO -->
            <input mdInput type="text" placeholder="{{ 'Message (Norwegian)' | translate }}" ng-pattern="stringPattern" [(ngModel)]="survey.endMessage.no"
            autocomplete="off" required (change)="onSurveyChange()" [attr.maxlength]="maxOtherInputsLength">
            <md-hint *ngIf="!fieldValidate(survey.endMessage.no)" color="warn">{{ 'This field is required.' | translate }}</md-hint>
          </md-input-container>
          <md-input-container *ngIf="englishEnabled">
            <!-- SURVEY ENDMESSAGE EN -->
            <input mdInput type="text" placeholder="{{ 'Message (English)' | translate }}" ng-pattern="stringPattern" [(ngModel)]="survey.endMessage.en"
            autocomplete="off" required (change)="onSurveyChange()" [attr.maxlength]="maxOtherInputsLength">
            <md-hint *ngIf="!fieldValidate(survey.endMessage.en)" color="warn">{{ 'This field is required.' | translate }}</md-hint>
          </md-input-container>
        </md-card-content>
      </md-card>
    </div>

    <!-- QUESTIONS START HERE  -->

    <div class="optionContainer">
      <md-card>
        <md-card-title>{{ 'Questions' | translate }}</md-card-title>
        <md-card-subtitle *ngIf="isPatch">MIDLERTIDIG ADVARSEL: ved endring av undersøkelse forsvinner ALLE responser som er registrert!</md-card-subtitle>
        <md-card-content>
          <div class="flexParent" [dragula]="'questionsBag'" [dragulaModel]="survey.questionlist">
            <!-- QUESTIONOBJECT -->
            <md-card ngClass="questionObject" *ngFor="let questionObject of survey.questionlist; let i = index" [@slideInOut]="">
              <md-card-title [ngClass]="{'dragHandle': true }">{{ 'Question' | translate }} {{i+1}}</md-card-title>
              <md-card-content>
                <!--Checkbox making a question required-->
                <md-checkbox class="required-checkbox" [(ngModel)]="questionObject.required">{{ 'Required question' | translate }}</md-checkbox>

                <!-- QUESTION MODE -->
                <div class="modeSelect">
                  <!-- no placeholder set; there will never be an opportunity for it to be empty -->
                  <md-select [(ngModel)]="questionObject.mode" (change)='onSurveyChange()'>
                    <md-option *ngFor="let m of allowedModes" [value]="m">
                      {{ m | translate }}
                    </md-option>
                  </md-select>
                  <!--
                    this span displays EITHER 'No alternatives need to be set.'
                    OR Alternatives: x/max(x,2)
                  -->
                  <span class="desc" [class.invalid]="((questionObject.mode == 'multi' || questionObject.mode == 'single') && questionObject.lang.no.options.length < 2)">
                    {{ (questionObject.mode == 'multi' || questionObject.mode == 'single') ? ( 'Alternatives: n/m' | translate:[questionObject.lang.no.options.length,
                        (questionObject.lang.no.options.length > 2 ? questionObject.lang.no.options.length : 2)] )
                      : ( 'No alternatives need to be set.' | translate )
                  }}</span>
                </div>

                <!-- QUESTION TEXT -->
                <md-input-container>
                  <textarea mdInput placeholder="{{ 'Question (Norwegian)' | translate }}" [attr.maxlength]="maxQuestionLength"
                  ng-pattern="stringPattern" [(ngModel)]="questionObject.lang.no.txt" required (change)="onSurveyChange()"
                  autocomplete="off"></textarea>
                  <md-hint *ngIf="!fieldValidate(questionObject.lang.no.txt)" color="warn">{{ 'This field is required.' | translate }}</md-hint>
                </md-input-container>
                <md-input-container *ngIf="englishEnabled">
                  <textarea mdInput placeholder="{{ 'Question (English)' | translate }}" [attr.maxlength]="maxQuestionLength"
                  ng-pattern="stringPattern" [(ngModel)]="questionObject.lang.en.txt" required (change)="onSurveyChange()"
                  autocomplete="off"></textarea>
                  <md-hint *ngIf="!fieldValidate(questionObject.lang.en.txt)" color="warn">{{ 'This field is required.' | translate }}</md-hint>
                </md-input-container>

                <!-- IMAGE LINK -->
                <md-input-container>
                  <input mdInput type="text" placeholder="{{ 'Image URL (not requrired)' | translate }}"
                  [mdTooltip]="
                  'This field is OPTIONAL. The field takes a full URL. Example: https://www.myWebsite.com/myImage.png. www.imgur.com is an image hosting service you can use.'
                    | translate" mdTooltipPosition="above" autocomplete="off"
                   [(ngModel)]="questionObject.imageLink" (change)="onSurveyChange()">
                  <md-hint *ngIf="!imageLinkValidate(questionObject.imageLink)" color="warn">
                    {{ 'Bad format. This field requires a full URL to an image, beginning with https://' | translate }}
                  </md-hint>
                </md-input-container>

              </md-card-content>
              <md-card-actions class="actionsBox">
                <!-- delete question button -->
                <button md-icon-button class="delete btn btn-success" color="warn" (click)="removeQuestion(i)" [disabled]="survey.questionlist.length == 1"
                [mdTooltip]="'Deletes this particular question! Careful!' | translate" tooltip-position="above">
                  <md-icon>delete</md-icon>
                </button>
                <!-- QUESTION OPTIONS: multi or single (the others has no options to be set) -->
                <button md-raised-button color="primary"
                *ngIf="questionObject.mode === 'multi' || questionObject.mode === 'single'"
                (click)="setAlternatives(questionObject)">
                <md-icon>create</md-icon> {{ 'Set Alternatives' | translate }}</button>
                <!-- the order of these two buttons are reversed in the css! -->
              </md-card-actions>
            </md-card>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button class="btn btn-success" color="primary" (click)="addQuestion()">
            <md-icon>add_box</md-icon> {{ 'Add a question' | translate }}
          </button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="submitBox optionContainer">
      <button *ngIf="!submitLoading" md-raised-button class="btn btn-success" color="primary" type="submit" (click)="saveChanges()" [disabled]="!canPostSurvey">
        <div [mdTooltip]="'Several fields are required. Verify that you have filled out all required fields.' | translate" tooltip-position="above">{{ 'Submit' | translate }}</div>
      </button>
      <div *ngIf="submitLoading" class="submitLoading">
        <!-- loading circle -->
        <md-progress-spinner mode="indeterminate" class="smaller loadingcircle" color="primary"></md-progress-spinner>
      </div>
    </div>
  </div>
</div>
