.multiChoiceContainer {
  width: 60vw;
  height: 60vh;
  margin-left: 25vw;
  display: flex;
  flex-wrap: wrap;

  .choice {
    text-align: left;
    width: 30vw;
    .child {
      zoom: 2;
    }
  }
}
