/*
.multiChoiceContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  transform: scale(1.5);
  display: inline-block;

  .region {
    text-align: left;
    md-checkbox {
      padding: 0.5em;
      display: block;
    }
  }
}
*/

.multiChoiceContainer {
  width: 75vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  transform: scale(1.5);
  .child {
    min-width: 37.5vw;
  }
  }
