<div class="starsContainer">
  <div [ngClass]="{ 'star': true, 'active': (selectedStar >= 0) }" (click)="fillStar(0)" [@growShake]="starActiveOne" (@growShake.done)="animationEnd($event)"><input class="star-input" type="image" src="../../assets/images/Star.svg"/></div>
  <div [ngClass]="{ 'star': true, 'active': (selectedStar >= 1) }"  (click)="fillStar(1)" [@growShake]="starActiveTwo" (@growShake.done)="animationEnd($event)"><input class="star-input" type="image" src="../../assets/images/Star.svg"/></div>
  <div [ngClass]="{ 'star': true, 'active': (selectedStar >= 2) }" (click)="fillStar(2)" [@growShake]="starActiveThree" (@growShake.done)="animationEnd($event)"><input class="star-input" type="image" src="../../assets/images/Star.svg"/></div>
  <div [ngClass]="{ 'star': true, 'active': (selectedStar >= 3) }" (click)="fillStar(3)" [@growShake]="starActiveFour" (@growShake.done)="animationEnd($event)"><input class="star-input" type="image" src="../../assets/images/Star.svg"/></div>
  <div [ngClass]="{ 'star': true, 'active': (selectedStar >= 4) }"  (click)="fillStar(4)" [@growShake]="starActiveFive" (@growShake.done)="animationEnd($event)"><input class="star-input" type="image" src="../../assets/images/Star.svg"/></div>


  <!-- <div class="starBox" (click)="fillStar(0)"><input class="star0" type="image" src="../../assets/images/Star.svg"></div>
  <div class="starBox" (click)="fillStar(1)"><input class="star1" type="image" src="../../assets/images/Star.svg"></div>
  <div class="starBox" (click)="fillStar(2)"><input class="star2" type="image" src="../../assets/images/Star.svg"></div>
  <div class="starBox" (click)="fillStar(3)"><input class="star3" type="image" src="../../assets/images/Star.svg"></div>
  <div class="starBox" (click)="fillStar(4)"><input class="star4" type="image" src="../../assets/images/Star.svg"></div> -->
</div>
<!-- <p>
  stars works!
</p> -->
